# Airbnb Analysis:

## Problem Statement:
This project aims to analyze Airbnb data using MongoDB Atlas, perform data cleaning and preparation, develop interactive geospatial visualizations, and create dynamic plots to gain insights into pricing variations, availability patterns, and location-based trends. 

## Skills take away From This Project
Python scripting, Data Preprocessing, Visualization,
EDA, Streamlit, MongoDb, PowerBI or Tableau 


## Domain: 
Travel Industry, Property Management and Tourism

### - Data Cleaning and Preparation

In [30]:
# Imports
from pymongo import mongo_client 
from pymongo import MongoClient
import pandas as pd 
import numpy as np 
import seaborn as sns
import matplotlib.pylab as plt 
plt.style.use('ggplot') 

# to se the number to columns in the display more than the default. 
# pd.set_option('max_columns', 50)

import warnings

warnings.filterwarnings("ignore", module="matplotlib")
warnings.filterwarnings("ignore", module="seaborn")

In [3]:
# Connect to MongoDB Atlas
client = MongoClient('mongodb+srv://piyush:airbnb@clusterairbnb.nkdrwby.mongodb.net/')
client.test

Database(MongoClient(host=['ac-ymptfh8-shard-00-00.nkdrwby.mongodb.net:27017', 'ac-ymptfh8-shard-00-02.nkdrwby.mongodb.net:27017', 'ac-ymptfh8-shard-00-01.nkdrwby.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, authsource='admin', replicaset='atlas-7dept3-shard-0', tls=True), 'test')

In [4]:
client.list_database_names()

['sample_airbnb',
 'sample_analytics',
 'sample_geospatial',
 'sample_guides',
 'sample_mflix',
 'sample_restaurants',
 'sample_supplies',
 'sample_training',
 'sample_weatherdata',
 'admin',
 'local']

In [5]:
db = client['sample_airbnb']

In [6]:
collection = db['listingsAndReviews']

In [7]:
import pandas as pd 
listings = collection.find({})
df = pd.DataFrame(listings)
df.head()

,_id,listing_url,name,summary,space,description,neighborhood_overview,notes,transit,access,...,guests_included,images,host,address,availability,review_scores,reviews,weekly_price,monthly_price,reviews_per_month
0,10006546,https://www.airbnb.com/rooms/10006546,Ribeira Charming Duplex,Fantastic duplex apartment with three bedrooms...,Privileged views of the Douro River and Ribeir...,Fantastic duplex apartment with three bedrooms...,"In the neighborhood of the river, you can find...",Lose yourself in the narrow streets and stairc...,Transport: • Metro station and S. Bento railwa...,We are always available to help guests. The ho...,...,6,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '51399391', 'host_url': 'https://w...","{'street': 'Porto, Porto, Portugal', 'suburb':...","{'availability_30': 28, 'availability_60': 47,...","{'review_scores_accuracy': 9, 'review_scores_c...","[{'_id': '58663741', 'date': 2016-01-03 05:00:...",NaN,NaN,NaN
1,10009999,https://www.airbnb.com/rooms/10009999,Horto flat with small garden,One bedroom + sofa-bed in quiet and bucolic ne...,Lovely one bedroom + sofa-bed in the living ro...,One bedroom + sofa-bed in quiet and bucolic ne...,This charming ground floor flat is located in ...,"There´s a table in the living room now, that d...","Easy access to transport (bus, taxi, car) and ...",,...,1,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '1282196', 'host_url': 'https://ww...","{'street': 'Rio de Janeiro, Rio de Janeiro, Br...","{'availability_30': 0, 'availability_60': 0, '...",{},[],1492.00,4849.00,NaN
2,1001265,https://www.airbnb.com/rooms/1001265,Ocean View Waikiki Marina w/prkg,A short distance from Honolulu's billion dolla...,Great studio located on Ala Moana across the s...,A short distance from Honolulu's billion dolla...,You can breath ocean as well as aloha.,,Honolulu does have a very good air conditioned...,"Pool, hot tub and tennis",...,1,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '5448114', 'host_url': 'https://ww...","{'street': 'Honolulu, HI, United States', 'sub...","{'availability_30': 16, 'availability_60': 46,...","{'review_scores_accuracy': 9, 'review_scores_c...","[{'_id': '4765259', 'date': 2013-05-24 04:00:0...",650.00,2150.00,NaN
3,10021707,https://www.airbnb.com/rooms/10021707,Private Room in Bushwick,Here exists a very cozy room for rent in a sha...,,Here exists a very cozy room for rent in a sha...,,,,,...,1,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '11275734', 'host_url': 'https://w...","{'street': 'Brooklyn, NY, United States', 'sub...","{'availability_30': 0, 'availability_60': 0, '...","{'review_scores_accuracy': 10, 'review_scores_...","[{'_id': '61050713', 'date': 2016-01-31 05:00:...",NaN,NaN,NaN
4,10030955,https://www.airbnb.com/rooms/10030955,Apt Linda Vista Lagoa - Rio,Quarto com vista para a Lagoa Rodrigo de Freit...,,Quarto com vista para a Lagoa Rodrigo de Freit...,,,,,...,1,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '51496939', 'host_url': 'https://w...","{'street': 'Rio de Janeiro, Rio de Janeiro, Br...","{'availability_30': 28, 'availability_60': 58,...",{},[],NaN,NaN,NaN

In [8]:
df.shape

(5555, 42)

In [9]:
df.columns

Index(['_id', 'listing_url', 'name', 'summary', 'space', 'description',
       'neighborhood_overview', 'notes', 'transit', 'access', 'interaction',
       'house_rules', 'property_type', 'room_type', 'bed_type',
       'minimum_nights', 'maximum_nights', 'cancellation_policy',
       'last_scraped', 'calendar_last_scraped', 'first_review', 'last_review',
       'accommodates', 'bedrooms', 'beds', 'number_of_reviews', 'bathrooms',
       'amenities', 'price', 'security_deposit', 'cleaning_fee',
       'extra_people', 'guests_included', 'images', 'host', 'address',
       'availability', 'review_scores', 'reviews', 'weekly_price',
       'monthly_price', 'reviews_per_month'],
      dtype='object')

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5555 entries, 0 to 5554
Data columns (total 42 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   _id                    5555 non-null   object
 1   listing_url            5555 non-null   object
 2   name                   5555 non-null   object
 3   summary                5555 non-null   object
 4   space                  5555 non-null   object
 5   description            5555 non-null   object
 6   neighborhood_overview  5555 non-null   object
 7   notes                  5555 non-null   object
 8   transit                5555 non-null   object
 9   access                 5555 non-null   object
 10  interaction            5555 non-null   object
 11  house_rules            5555 non-null   object
 12  property_type          5555 non-null   object
 13  room_type              5555 non-null   object
 14  bed_type               5555 non-null   object
 15  minimum_nights         5555 non-null   object
 16  maximum_nights         5555 non-null   object
 17  cancellation_policy    5555 non-null   object
 18  last_scraped           5555 non-null   datetime64[ns]
 19  calendar_last_scraped  5555 non-null   datetime64[ns]
 20  first_review           4167 non-null   datetime64[ns]
 21  last_review            4167 non-null   datetime64[ns]
 22  accommodates           5555 non-null   int64
 23  bedrooms               5550 non-null   float64
 24  beds                   5542 non-null   float64
 25  number_of_reviews      5555 non-null   int64
 26  bathrooms              5545 non-null   object
 27  amenities              5555 non-null   object
 28  price                  5555 non-null   object
 29  security_deposit       3471 non-null   object
 30  cleaning_fee           4024 non-null   object
 31  extra_people           5555 non-null   object
 32  guests_included        5555 non-null   object
 33  images                 5555 non-null   object
 34  host                   5555 non-null   object
 35  address                5555 non-null   object
 36  availability           5555 non-null   object
 37  review_scores          5555 non-null   object
 38  reviews                5555 non-null   object
 39  weekly_price           714 non-null    object
 40  monthly_price          656 non-null    object
 41  reviews_per_month      94 non-null     float64
dtypes: datetime64[ns](4), float64(3), int64(2), object(33)
memory usage: 1.8+ MB

In [11]:
df.describe()

,last_scraped,calendar_last_scraped,first_review,last_review,accommodates,bedrooms,beds,number_of_reviews,reviews_per_month
count,5555,5555,4167,4167,5555.000000,5550.000000,5542.000000,5555.000000,94.000000
mean,2019-03-01 12:48:43.420342016,2019-03-01 12:48:43.420342016,2016-11-27 16:08:28.855291648,2018-08-15 20:18:09.416846848,3.505851,1.411712,2.071454,27.606481,1.712766
min,2019-02-11 05:00:00,2019-02-11 05:00:00,2009-10-27 04:00:00,2012-01-06 05:00:00,1.000000,0.000000,0.000000,0.000000,1.000000
25%,2019-02-18 05:00:00,2019-02-18 05:00:00,2015-12-08 17:00:00,2018-08-08 04:00:00,2.000000,1.000000,1.000000,1.000000,1.000000
50%,2019-03-07 05:00:00,2019-03-07 05:00:00,2017-04-02 04:00:00,2019-01-02 05:00:00,3.000000,1.000000,2.000000,5.000000,1.000000
75%,2019-03-08 05:00:00,2019-03-08 05:00:00,2018-04-24 04:00:00,2019-02-15 05:00:00,4.000000,2.000000,3.000000,32.000000,2.000000
max,2019-03-11 04:00:00,2019-03-11 04:00:00,2019-03-10 05:00:00,2019-03-11 04:00:00,16.000000,20.000000,25.000000,533.000000,10.000000
std,NaN,NaN,NaN,NaN,2.297019,1.041942,1.619660,49.798376,1.492795

In [14]:
df.isnull().sum()

_id                         0
listing_url                 0
name                        0
summary                     0
space                       0
description                 0
neighborhood_overview       0
notes                       0
transit                     0
access                      0
interaction                 0
house_rules                 0
property_type               0
room_type                   0
bed_type                    0
minimum_nights              0
maximum_nights              0
cancellation_policy         0
last_scraped                0
calendar_last_scraped       0
first_review             1388
last_review              1388
accommodates                0
bedrooms                    5
beds                       13
number_of_reviews           0
bathrooms                  10
amenities                   0
price                       0
security_deposit         2084
cleaning_fee             1531
extra_people                0
guests_included             0
images                      0
host                        0
address                     0
availability                0
review_scores               0
reviews                     0
weekly_price             4841
monthly_price            4899
reviews_per_month        5461
dtype: int64

In [26]:
# Remove all rows with missing values
df = df.dropna(subset=["first_review","last_review","security_deposit","cleaning_fee","bedrooms","bathrooms"])
df.isnull().sum()

_id                         0
listing_url                 0
name                        0
summary                     0
space                       0
description                 0
neighborhood_overview       0
notes                       0
transit                     0
access                      0
interaction                 0
house_rules                 0
property_type               0
room_type                   0
bed_type                    0
minimum_nights              0
maximum_nights              0
cancellation_policy         0
last_scraped                0
calendar_last_scraped       0
first_review                0
last_review                 0
accommodates                0
bedrooms                    0
beds                        0
number_of_reviews           0
bathrooms                   0
amenities                   0
price                       0
security_deposit            0
cleaning_fee                0
extra_people                0
guests_included             0
images                      0
host                        0
address                     0
availability                0
review_scores               0
reviews                     0
weekly_price             2405
monthly_price            2407
reviews_per_month        2734
dtype: int64

In [42]:
from pprint import pprint

pprint(df["availability"][:1:])

0    {'availability_30': 28, 'availability_60': 47,...
Name: availability, dtype: object

In [35]:
df[["price","security_deposit","beds","number_of_reviews","bathrooms","availability"]]

,price,security_deposit,beds,number_of_reviews,bathrooms,availability
0,80.00,200.00,5.0,51,1.0,"{'availability_30': 28, 'availability_60': 47,..."
5,135.00,0.00,1.0,70,1.0,"{'availability_30': 0, 'availability_60': 0, '..."
6,119.00,600.00,3.0,70,2.0,"{'availability_30': 7, 'availability_60': 19, ..."
8,250.00,0.00,8.0,1,4.0,"{'availability_30': 10, 'availability_60': 10,..."
17,30.00,0.00,1.0,178,1.0,"{'availability_30': 16, 'availability_60': 40,..."
...,...,...,...,...,...,...
5549,322.00,0.00,2.0,3,0.5,"{'availability_30': 30, 'availability_60': 60,..."
5550,58.00,500.00,2.0,107,1.0,"{'availability_30': 26, 'availability_60': 51,..."
5552,101.00,0.00,3.0,90,1.0,"{'availability_30': 7, 'availability_60': 29, ..."
5553,227.00,200.00,3.0,13,2.0,"{'availability_30': 8, 'availability_60': 20, ..."
5554,220.00,200.00,4.0,15,2.0,"{'availability_30': 0, 'availability_60': 8, '..."

In [ ]:
# Convert the relevant column to a numeric data type
df["price"] = df["price"].astype(float)
df["security_deposit"] = df["security_deposit"].astype(float)

In [25]:
# Remove all duplicate rows from the DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2794 entries, 0 to 5554
Data columns (total 42 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   _id                    2794 non-null   object
 1   listing_url            2794 non-null   object
 2   name                   2794 non-null   object
 3   summary                2794 non-null   object
 4   space                  2794 non-null   object
 5   description            2794 non-null   object
 6   neighborhood_overview  2794 non-null   object
 7   notes                  2794 non-null   object
 8   transit                2794 non-null   object
 9   access                 2794 non-null   object
 10  interaction            2794 non-null   object
 11  house_rules            2794 non-null   object
 12  property_type          2794 non-null   object
 13  room_type              2794 non-null   object
 14  bed_type               2794 non-null   object
 15  minimum_nights         2794 non-null   object
 16  maximum_nights         2794 non-null   object
 17  cancellation_policy    2794 non-null   object
 18  last_scraped           2794 non-null   datetime64[ns]
 19  calendar_last_scraped  2794 non-null   datetime64[ns]
 20  first_review           2794 non-null   datetime64[ns]
 21  last_review            2794 non-null   datetime64[ns]
 22  accommodates           2794 non-null   int64
 23  bedrooms               2794 non-null   float64
 24  beds                   2794 non-null   float64
 25  number_of_reviews      2794 non-null   int64
 26  bathrooms              2794 non-null   object
 27  amenities              2794 non-null   object
 28  price                  2794 non-null   object
 29  security_deposit       2794 non-null   object
 30  cleaning_fee           2794 non-null   object
 31  extra_people           2794 non-null   object
 32  guests_included        2794 non-null   object
 33  images                 2794 non-null   object
 34  host                   2794 non-null   object
 35  address                2794 non-null   object
 36  availability           2794 non-null   object
 37  review_scores          2794 non-null   object
 38  reviews                2794 non-null   object
 39  weekly_price           389 non-null    object
 40  monthly_price          387 non-null    object
 41  reviews_per_month      60 non-null     float64
dtypes: datetime64[ns](4), float64(3), int64(2), object(33)
memory usage: 938.6+ KB